<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Provinces</title>
</head>
<body>
<a href="/create-country">Create new country</a><br/>
<a href="/cities">list cities</a><br/>
<h1>Provinces</h1>
<table border="1">
    <tr>
        <th>Name</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <th:block th:each="country : ${provinces}">
        <tr>
            <td th:text="${country.name}"></td>
            <td><a th:href="@{/edit-country/__${country.id}__ }">Edit</a></td>
            <td><a th:href="@{/delete-country/__${country.id}__ }">Delete</a></td>
        </tr>
    </th:block>
</table>
</body>
</html>