<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Edit city</title>
</head>
<body>
<h1>Edit city</h1>
<p>
    <a href="/cities">Customer list</a>
</p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form th:action="@{/edit-city}" th:object="${city}" method="post">
    <input th:type="hidden" name="id" th:field="*{id}">
    <table>
        <tr>
            <td>First name:</td>
            <td><input type="text" th:field="*{firstName}"/></td>
        </tr>
        <tr>
            <td>Last name:</td>
            <td><input type="text" th:field="*{lastName}"/></td>
        </tr>
        <tr>
            <td>Province:</td>
            <td>
                <select name="country">
                    <option th:each="p : ${provinces}"
                            th:value="${p.id}"
                            th:text="${p.name}"
                            th:selected="(${p.id} == *{id})"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Update city"></td>
        </tr>
    </table>
</form>
</body>
</html>